
/* highest lvl */
.App {
  display: grid;
  grid-template-columns: 1.75fr 8.25fr;
}

.TopicAndNavBar {
  min-width: 300px;
}

/* main nav bar */
.Navbar {
  background: pink;
}
.nav-ul{
  display: inline;
  list-style-type: none;
}
.nav-item {
  display: inline;
}


.Topic-bar {
background: hotpink;
}

/* main container */
.MainTopicView {
background: mediumpurple;
display: flex;
flex-direction: column;
}
.head{
  display: flex;
  background: yellow;
  justify-content: space-between;
}
.current-topic {}
.user-settings {}
.topic-description{
  text-indent: 50px;
}


.Topic-bar{
  background: deeppink;
}

.Comment {
  background: purple;
}

.MessageField{
  background: rebeccapurple;

}
input{
  width: 100%;
}