
/* highest lvl */
.App {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.TopicAndNavBar {
  min-width: 300px;
}

/* main nav bar */
.Navbar {
  background: pink;
}
.nav-ul{
  display: inline;
  list-style-type: none;
}
.nav-item {
  display: inline;
}


.Topic-bar {
background: hotpink;
}

/* main container */

.MainTopicView {
background: mediumpurple;
}

.Topic-bar{
  background: deeppink;
}

.Comment {
  background: purple;
}

.MessageField{
  background: rebeccapurple;
}